<h1>Your Wikis</h1>

<h2>My Private Wikis</h2>
<% policy_scope(@wikis).each do |wiki| %>
  <% if wiki.private == true %>
    <p><%= link_to wiki.title, wiki_path(wiki.id) %></p>
  <% end %>
<% end %>
<h2>My Public Wikis</h2>
<% policy_scope(@wikis).each do |wiki| %>
  <% if wiki.private == false %>
    <p><%= link_to wiki.title, wiki_path(wiki.id) %></p>
  <% end %>
<% end %>
